{% extends "./base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class= "container mt-4">
    {% if user_can_enroll %}
    <p  class="badge badge-danger"> NOT ENROLLED <p>
    <form action="{% url 'enroll_in_course' course.pk %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Enroll in Course</button>
    </form>
    {% elif user_is_enrolled %}
        <p  class="badge badge-success"> CURRENTLY ENROLLED <p>
        <form action="{% url 'unenroll_from_course' course.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-danger">Unenroll from Course</button>
        </form>
    {% endif %}
</div>
<div class="container mt-4 mb-4">
    <h1>{{ course.title }}</h1>
    <p>Teacher: <a href="/user/{{course.teacher.username}}">{{ course.teacher.name }}</a></p>
    {% if user_is_enrolled %}
    <div>
        {% if materials %}
        <div>
            <h2>Assignments</h2>
            {% for material in materials %}
            <div class="alert alert-info">
                <h3> {{ material.title }}</h3>
                <a href="{{ material.file.url }}" download>Download Material</a>
                <small>uploaded: {{ material.uploaded_at|date:"D, d M Y H:i" }}</small>
            </div>
            {% empty %}
            <p>There are no assignments </p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div>
        <a href="{% url 'leave_feedback' course.pk %}" class="btn btn-primary">Leave Feedback</a>
    </div>
    {% elif not user_is_enrolled %}
    <div>
        <p class = "alert alert-danger" >Please Enroll in this course to see Course Content. </p>
    </div>
    {% endif %}
</div>



{% endblock %}