{% extends "./base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class = "container mt-4">
    <div class = "row">
        <div class="col-md-12">
            <h1>All Courses</h1>
            <table class = "table">
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Teacher</th>
                        <th>Enrolled Students</th>
                        <th>Average Rating</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses %}
                    <tr>
                        <td><a href="/course/{{course.pk}}">{{ course.title }}</a></td>
                        <td><a href="/user/{{course.teacher.username}}">{{ course.teacher.name }}</a></td>
                        <td>{{ course.num_students }}</td>
                        <td>{{ course.avg_rating|default:"Not rated yet"|floatformat:1 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}