{% extends "./base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class= "container mt-4">
    <h1>{{ course.title }}</h1>
    <p>Teacher: <a href="/user/{{course.teacher.username}}">{{ course.teacher.name }}</a></p>
    {% if not user_is_teacher %}
    <p  class="badge badge-danger"> NOT YOUR COURSE <p>
    {% elif user_is_teacher %}
        <p  class="badge badge-success"> CURRENTLY TEACHING <p>
        <a href="{% url 'course_material_upload' pk=course.pk %}">
            <button type="submit" class="btn btn-primary">Upload New Assignment To Course</button>
        </a>
    {% endif %}
</div>
<div class="container mt-4 mb-4">
    {% if user_is_teacher %}
    <div>
        {% if materials %}
        <div>
            <h2>Your Posted Assignments</h2>
            {% for material in materials %}
            <div class="alert alert-info">
                <h3> {{ material.title }}</h3>
                <a href="{{ material.file.url }}" download>Download Material</a>
                <small>uploaded: {{ material.uploaded_at|date:"D, d M Y H:i" }}</small>
            </div>
            {% empty %}
            <p>There are no assignments </p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
<div class="container mt-4 mb-4">
    <h2>Students Enrolled:</h2>

    <table class = "table">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>username</th>
                <th>Block Student?</th>
            </tr>
        </thead>
        <tbody>
            {% for student in enrolled_students %}
            <tr>
                <td>{{ student.name }}</a></td>
                <td><a href="/user/{{student.username}}">{{ student.username }}</a></td>
                <td>
                    <form action="{% url 'unenroll_from_course' pk=course.pk user_id=student.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-danger">Block and Remove</button>
                    </form> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}