{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="StudyHub is an e-learning platform which hosts educator content and allows pupils to learn and collaborate">
    <meta name="keywords" content="HTML, education, web, development, distance, learning">
    <meta name="author" content="Vineet Erasala">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <!-- include static files  -->
    <link rel="stylesheet" type="text/css" href="../../static/css/study_hub.css">
</head>
<body>